conf/response.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="xml">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mappings">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mapping">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="uri" type="xs:string" />
                                        <xs:element name="httpMethod" type="xs:string" />
                                        <xs:element name="contentType" type="xs:string" />
                                        <xs:element name="statusCode1" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>